@import 'neat-helpers'; // or '../neat/neat-helpers' when not in Rails

// Neat Overrides
 $column: 99px;
 $gutter: 20px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$x-small-screen: em(200);
$small-screen: em(420);
$medium-screen: em(640);
$large-screen: em(860);

$micro: new-breakpoint(max-width $x-small-screen 2);
$smart: new-breakpoint(min-width $x-small-screen max-width $small-screen 3);
$tablet: new-breakpoint(min-width $small-screen max-width $medium-screen 6);
$laptop: new-breakpoint(min-width $medium-screen max-width $large-screen 9 );
$desktop: new-breakpoint(min-width $large-screen 12);
