footer.main{
  background-color: $material-gray-blue;
  color: white;
  margin-top: 1rem;
  padding: 4em 0 3em;
  box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.2), 0 -2px 20px 0 rgba(0, 0, 0, 0.19);

  div{ @include outer-container; }

  ul.contributions{
    float: left;
    border-left: 5px solid $material-yellow;
    padding-left: 1em;
  }

  $logo-slightly-size: 2rem;
  .logo.slightly{
    width: $logo-slightly-size;
    height: $logo-slightly-size;
    position: absolute;
    bottom: .5em;
    right: 1em;

    img{
      width: 100%;
      height: auto;
      transform: scale(1.2, 1.2) translateY(10%);
    }
  }

}