.giffy-container{ 
  @extend %outer-container;
  text-align: center;


  h2.title{ 
    @extend %title; 
    @extend %title-overlay;
    margin: 1em 0 .6em;
    line-height: 1rem * 2.61;
  }
}

img.giffy{ width: 100%; }