.clearfix{ @include clearfix; }

ul{ list-style: none; }

ul.block{ 
  display: block; 
}

.filter-group{
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 500px;
  margin: 0 auto 1em;
}

.entry{ 
}

img.giffy{ 
  width: 100%; 
}