div.post-list{
  padding: 3em 0 1em;

  h3.increment{ 
    font-size: 1.4rem;
    margin-bottom: .3em; 
  }

  h4.increment{ font-size: 1rem; }

  div.year-banner{
    @extend %outer-container;
    position: relative;

    section{
      position: relative;
      display: inline-block;
    }

    $banner-border-thickness: .5rem;

    i.fa{
      font-size: 3rem;
      position: relative;

      &:after{
        content: '';
        width: 100%;
        height: $banner-border-thickness;
        position: absolute;
        transform: translateY(-$banner-border-thickness + .3rem);
        background-color: $material-yellow;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    span{
      position: absolute;
      left: .055rem;
      top: .4rem;
      color: $material-yellow;
      font-size: .05rem;
      font-weight: bold;

     @media (min-width: $small-screen){
        left: .3rem;
        font-size: .7rem; 
     }
    }
  }

  ul{
    @extend %outer-container;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    li{
      margin-bottom: 2em;
      @include span-columns(1 of 1);

      @include media($smart){
        @include span-columns(1 of 2);
        @include omega(2n);
      }

      @include media($tablet){
        @include span-columns(1 of 3);
        @include omega(3n);
      }

      @include media($laptop){
        @include span-columns(1 of 4);
        @include omega(4n);
      }

      @include media($desktop){
        @include span-columns(1 of 4);
        @include omega(4n);
      }
    }

    @mixin post-item-border{ border: 1px solid $material-gray-blue; }

    $post-item-background-color: $material-gray-blue;

    section.background-image{
      content: '';
      width: 100%;
      height: 0;
      padding-bottom: 52.5%;
      border-radius: 12px;
      @include post-item-border;
      border-bottom: none;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    section.date-info{
      display: block;
      position: relative;
      @include post-item-border;
      border-top: none;
      border-radius: 3px;
      background-color: $post-item-background-color;
      transform: translateY(-16%%);
      padding: 1em .5em .6em;
    }
  }
}