div.post-list{
  padding: 3em 0 1em;

  h3.increment{ 
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .3em; 
  }

  h4.increment{ font-size: 1rem; }

  ul{
    @extend %outer-container;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    li{
      margin-bottom: 2em;
      border-radius: 11px;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      @include span-columns(1 of 1);

      @include media($smart){
        @include span-columns(1 of 2);
        @include omega(2n);
      }

      @include media($tablet){
        @include span-columns(1 of 3);
        @include omega(3n);
      }

      @include media($laptop){
        @include span-columns(1 of 4);
        @include omega(4n);
      }

      @include media($desktop){
        @include span-columns(1 of 4);
        @include omega(4n);
      }
    }

    @mixin post-item-border{ border: 1px solid $material-gray-blue; }

    $post-item-background-color: $material-gray-blue;

    section.background-image{
      content: '';
      width: 100%;
      height: 0;
      padding-bottom: 52.5%;
      border-radius: 12px;
      @include post-item-border;
      border-bottom: none;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    section.date-info{
      display: block;
      position: relative;
      @include post-item-border;
      border-top: none;
      border-radius: 3px;
      background-color: $post-item-background-color;
      margin-top: -4%;
      padding: 1em .5em .6em;
    }
  }
}