<ul class="menu">
  <li><a href="/week">Week</a></li>
  <li><a href="/month">Month</a></li>
  <li><a href="/year">Year</a></li>
  <li><%=link_to "Update Feed",update_all_posts_path%></li>
</ul>

<div class="block feed-entries">
  <% (@first_year..@current_year).each do |year| %>
    <h2><%= year %></h2>
    <% (@first_week..@current_week).each do |week| %>
      <h3><%= week %></h3>
    <% end %>
  <% end %>
</div>