<footer class="main">
  <div>
    <ul class="contributions">
      <li>Data and graphics by <a href="http://iswiraq.blogspot.com/">Institute for the Study of War Iraq</a>.</li>
      <li>Photos courtesy <a href="https://www.flickr.com/photos/leoheart/">Hussain Isa Alderazi</a>.</li>
      <li>Designed and developed by <a href="http://slightlytyler.com">slightlytyler</a>.</li>
    </ul>

    <div class="logo slightly">
      <%= link_to (image_tag 'Slightly-Logo-Dry.png'), 'http://slightlytyler.com' %>
    </div>
  </div> 
</footer>