<header class="main">
  <a class="home" href="/">Home</a>
  <ul class="menu">
    <li><a href="/week">Week</a></li>
    <li><a href="/month">Month</a></li>
    <li><a href="/year">Year</a></li>
    <li class="btn"><%=link_to "Update Feed",update_all_posts_path%></li>
  </ul>
</header>